# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.icloud
*.iml

# venv
Scripts
Lib
Include
pyvenv.cfg

# properties file
variables.ini

# cache
__pycache__

# downloads
downloads